body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
}

.container {
  width: 600px;
  margin: 60px auto;
  padding: 35px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 20px #ccc;
}

h1 {
  text-align: center;
  color: #4f46e5;
  font-size: 36px;
}

p {
  text-align: center;
  color: #666;
}

form {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f7ff;
  padding: 15px;
  margin-top: 12px;
  border-radius: 8px;
}

.task span {
  font-size: 17px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete {
  background: #ef4444;
  margin-left: 6px;
}

h3 {
  text-align: center;
  color: #888;
}